<div class="resetpwd-wrapper">
    <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd()">
      <mat-card class="login-card">
              <img class="logo" src="assets/logo.png">
              <div class="user" *ngIf="userName">
                Hello, {{userName}}
              </div>
              <div>
              <input class="input-field" formControlName="password"  [type]="PwdEye" placeholder="Password">
              <span class="PwdEye icon bge-btn" (click)="showHidePwd('PwdEye');"><img *ngIf="PwdEye=='password'" src="assets/icons/eye-off.svg" class="blue-icon"><img *ngIf="PwdEye=='text'" src="assets/icons/eye.svg" class="blue-icon"></span>
               <div class="error-text" *ngIf="(resetPwdFormSubmitted && password.invalid) || (password.touched && password.invalid)">
                Please enter Password between 8 to 20 characters which contain at least 1 Lowercase Letter, 1 Uppercase Letter, 1 Numeric Digit, and 1 Special Character
              </div>
            </div>
              <div>
              <input class="input-field" formControlName="confirmPwd" [type]="confrimPwdEye" placeholder="Confirm Password">
              <span class="confrimPwdEye icon bge-btn" (click)="showHidePwd('confrimPwdEye');"><img *ngIf="confrimPwdEye=='password'" src="assets/icons/eye-off.svg" class="blue-icon"><img *ngIf="confrimPwdEye=='text'" src="assets/icons/eye.svg" class="blue-icon"></span>
               <div class="error-text" *ngIf="(resetPwdFormSubmitted && confirmPwd.invalid) || (confirmPwd.touched && confirmPwd.invalid)">
                Please enter Password between 8 to 20 characters which contain at least 1 Lowercase Letter, 1 Uppercase Letter, 1 Numeric Digit, and 1 Special Character
              </div>
              <div class="error-text" *ngIf="password.value && password.valid && confirmPwd.valid && confirmPwd.value!=password.value">Password And Confirm Password  Don't Match.</div>
            </div>
            <div>
              <input class="input-field" formControlName="otp" type="text" maxlength="30" placeholder="Enter OTP">
               <div class="error-text" *ngIf="(resetPwdFormSubmitted && otp.invalid) || (otp.touched && otp.invalid)">
                Please Enter Otp.
              </div>
             
            </div>
            <div>
              <div class="resend-otp">
                <span (click)="resendOtp()">Resend OTP</span>
              </div>
              <div class="forgot-success" *ngIf="showResentMsg">{{resendSuccessText}}</div>
            </div>
              <input type="submit" value = "Reset My Password" class="raised-button signin-button" mat-raised-button color="primary">
              <div class="gotologin">
                <span (click)="gotologin()">Go To Login</span> 
              </div>
              
      </mat-card>
    </form>
      <div class="powered-by">Powered by OMai</div>
  </div>
  <app-loader *ngIf="!dataLoaded"></app-loader>
  <app-server-error-popup [message]="errorString"></app-server-error-popup>
  