.resetpwd-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    max-width: 500px;
    margin: 0px auto;
}

.login-card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: unset;
    box-shadow: 0px 0px 8px rgba(33, 37, 41, 0.15);
    .logo{
        width: auto;
        height: 56px;
        margin: 80px auto 56px auto;
    }
    .input-field{
        height: 40px;
        padding: 8px 16px;
        background: #FFFFFF;
        margin: 15px 40px;
        border: 1px solid #ADB5BD;
        box-sizing: border-box;
        border-radius: 4px;
        width: 336px;
        padding-right: 50px;
    }

    mat-form-field{
        // padding: 8px 16px;
        margin: 15px 40px;
    }

    .signin-button{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        // line-height: 24px;
        // display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        box-shadow: unset;
        margin: 15px 40px;
        width: auto;
        padding: 8px 16px;
        display: grid;
        margin-bottom: 16px;
    }
}

.forgot-password{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px !important;
}

.powered-by{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ADB5BD;
    text-align: center;
    margin-top: 24px;
}

.error-text{
    // padding: 8px 16px;
    margin: 2px 40px;
    color:red;
    width: 336px;
}
.forgot-success{
    margin: 2px 45px;
    color: #4CAF50;
    text-align: right;
}
.confrimPwdEye.icon,.PwdEye.icon{
    right: 36px;
    position: absolute;
    margin-top: 16px;
    padding: 8px 16px;
}
.blue-icon{
    filter: invert(52%) sepia(40%) saturate(869%) hue-rotate(172deg) brightness(95%) contrast(106%);
}
.user{
    margin: 0px auto;
    width: 336px;
}
.resend-otp{
    font-weight: 500;
    width: 330px;
    margin: 0px auto;
    text-align: right;
    margin-bottom: 16px;
    span{
    font-size: 16px;
    cursor: pointer;
    color: #3894f8;
    }
}
.gotologin{
    width: 336px;
    margin: 8px auto;
    font-weight: 500;
    margin-bottom: 24px!important;
    text-align: center;
    span{
        font-size: 16px;
        cursor: pointer;
        color: #3894f8;
        }
}