<div class="afterpwdChnaged" *ngIf="pwdChangedSuccess">
    <h2>{{pwdChangedSuccess}}</h2>
</div>
<div *ngIf="!pwdChangedSuccess">
<div class="users-header">
    <div class="circled-icon bge-btn" mat-dialog-close>
        <img src="assets/icons/arrow-left.svg">
    </div>
    <div class="header-title">
        Change Password
    </div>
    <div class="close-btn bge-btn" mat-dialog-close>
        <img src="assets/icons/x.svg">
    </div>
</div>
<div class="shift-form">
    <form [formGroup]="frmChangePwd" (ngSubmit)="changePwd()">
        <mat-card class="login-card">
           
            <div>
            <input class="input-field" formControlName="oldpassword"  [type]="PwdEye" placeholder="Old Password">
            <span class="PwdEye icon bge-btn" (click)="showHidePwd('PwdEye');"><img *ngIf="PwdEye=='password'" src="assets/icons/eye-off.svg" class="blue-icon"><img *ngIf="PwdEye=='text'" src="assets/icons/eye.svg" class="blue-icon"></span>
             <div class="error-text" *ngIf="(frmChangePwdFormSubmitted && oldpassword.invalid) || (oldpassword.touched && oldpassword.invalid)">
              Please enter Password between 8 to 20 characters which contain at least 1 Lowercase Letter, 1 Uppercase Letter, 1 Numeric Digit, and 1 Special Character
            </div>
            </div>
            <div>
                <input class="input-field" formControlName="password"  [type]="PwdEye" placeholder="New Password">
                <span class="PwdEye icon bge-btn" (click)="showHidePwd('PwdEye');"><img *ngIf="PwdEye=='password'" src="assets/icons/eye-off.svg" class="blue-icon"><img *ngIf="PwdEye=='text'" src="assets/icons/eye.svg" class="blue-icon"></span>
                 <div class="error-text" *ngIf="(frmChangePwdFormSubmitted && password.invalid) || (password.touched && password.invalid)">
                  Please enter Password between 8 to 20 characters which contain at least 1 Lowercase Letter, 1 Uppercase Letter, 1 Numeric Digit, and 1 Special Character
                </div>
            </div>
            <div>
            <input class="input-field" formControlName="confirmPwd" [type]="confrimPwdEye" placeholder="Confirm New Password">
            <span class="confrimPwdEye icon bge-btn" (click)="showHidePwd('confrimPwdEye');"><img *ngIf="confrimPwdEye=='password'" src="assets/icons/eye-off.svg" class="blue-icon"><img *ngIf="confrimPwdEye=='text'" src="assets/icons/eye.svg" class="blue-icon"></span>
             <div class="error-text" *ngIf="(frmChangePwdFormSubmitted && confirmPwd.invalid) || (confirmPwd.touched && confirmPwd.invalid)">
              Please enter Password between 8 to 20 characters which contain at least 1 Lowercase Letter, 1 Uppercase Letter, 1 Numeric Digit, and 1 Special Character
            </div>
            <div class="error-text" *ngIf="password.value && password.valid && confirmPwd.valid && confirmPwd.value!=password.value">New Password And Confirm New Password  Don't Match.</div>
          </div>
          
            <input type="submit" value = "Change My Password" class="raised-button signin-button" mat-raised-button color="primary">
           
            
    </mat-card>
    </form>
</div>
<app-loader *ngIf="!dataLoaded"></app-loader>
<app-server-error-popup></app-server-error-popup>
</div>