
<app-toolbar [currentPage]="'alerts'"></app-toolbar>
<div class="applications-breadcrumb">

    <div class="page-title">
        <!-- <button mat-icon-button class="slider-button bge-btn" (click)="goBack()">
            <img src="assets/arrow-left.png">                
        </button> -->
        <div class="application-page-title current">
             Alerts
        </div>
        
    </div>
</div>
<div *ngIf = "paginated && (!alertsData || !alertsData.length)" class="no-data">
    No Data Available
    <div class="no-data-back-btn" (click)="selectPage('p')">
        <button mat-icon-button class="slider-button bge-btn" >
            <img src="assets/arrow-left.png">              
        </button>
        <div>Go To Previous Records  </div>
    </div>
    
</div>
<div class="contents-wrapper" >
    <div *ngIf="!alertsData || !alertsData.length" class="no-data">No data available</div>
    <div *ngIf="alertsData && alertsData.length" class="applications-container">
        <div *ngIf="dataLoaded" class="tbl-container">
<table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" class="table-applications">
    <ng-container *ngFor="let displayColumn of displayedColumns"  [matColumnDef]="displayColumn">
      <th mat-header-cell *matHeaderCellDef class="table-cell table-head"> {{((displayColumn=='errorCode')?'Error Code':(displayColumn=='errorDetail')?'Error Detail':displayColumn) | titlecase }} </th>
      <td mat-cell *matCellDef="let element; let index = index"  class="table-cell"> 
        <div *ngIf="displayColumn=='action'" class="action-btns"><button [ngClass]="{ 'disabled': element.read }" color="primary" mat-stroked-button (click)="setReadAlert(element)">Mark As Read</button><button (click)="showRca($event,element)" color="primary" mat-raised-button>RCA</button></div> 
        <span *ngIf="displayColumn!='action'" class="tbl-content" [ngClass]="{'not-read':!element.read}"><span *ngIf="displayColumn=='timestamp'">{{element[displayColumn] | date:'MM/dd/yyyy h:mm:ss a'}}</span><span *ngIf="displayColumn!='timestamp'" [ngClass]="{'alert-type':displayColumn=='level'}" class="{{element[displayColumn]}}" [innerHTML]="addSpaceInStr(element[displayColumn])"></span></span>
        </td>
    </ng-container>
      
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  </div>
  
  </div>
  <div class="pager-container" *ngIf="showPagination && alertsData && alertsData.length">
    <div class="pager">
      <div class="page-size-label"> Items per page: </div>  
      <mat-form-field appearance="fill">        
      <mat-select [(ngModel)]="selectedPageSize" panelClass="pageSize" disableOptionCentering (selectionChange)="pageSizeChange()">      
          <mat-option *ngFor="let page of pageList" [value]="page">{{page}}</mat-option>
        </mat-select>
        </mat-form-field>
        <div class="mat-paginator-range-actions">
          <!-- <div class="mat-paginator-range-label"> {{this.currentPage*this.selectedPageSize}} – {{this.selectedPageSize + (this.currentPage*this.selectedPageSize)}} of 11 </div> -->
          <!-- <button mat-icon-button type="button" (click)="selectPage('f')"  aria-label="First page" ><svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path></svg></button> -->
          <button mat-icon-button type="button" (click)="selectPage('p')" aria-label="Prev page" ><svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></svg></button>
          <button mat-icon-button type="button"  (click)="selectPage('n')" aria-label="Next page" ><svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></button>
          <!-- <button mat-icon-button type="button"  (click)="selectPage('l')" aria-label="Last page"><svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></button> -->
        </div>
      </div>
      </div>


 
  </div>

  <app-loader *ngIf="!dataLoaded"></app-loader>
  <app-server-error-popup [message]="errorString"></app-server-error-popup>