// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import './colors.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$Portal-primary: mat.define-palette($mat-biogas-primary);
$Portal-accent: mat.define-palette($mat-biogas-primary);

// The warn palette is optional (defaults to red).
$Portal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$Portal-theme: mat.define-light-theme((
  color: (
    primary: $Portal-primary,
    accent: $Portal-accent,
    warn: $Portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portal-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}

.cdk-overlay-container {
  position: unset;
  z-index: 1000;
}



// .cdk-overlay-pane {
//   min-width: 289.01px!important;
// pointer-events: auto !important;
// font-size: 14px;
// top: 406.01px;
// left: 394.54px;
// transform: translateX(-40px) translateY(-1px);
// }

.cdk-overlay-pane.modal-user .mat-dialog-container{
  padding:32px!important;
  
  overflow: auto;
}
.btn,.shiftbtn,.bge-btn{
  cursor: pointer;
}
.error{
  color: red;
  
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.mand{
  color:red;
}

.form-control{
    
  border: 1px solid #ADB5BD;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  
}

.btn-bg-blue{

  padding: 8px 24px;
  border-radius: 4px; 
  float: right;
  color: #fff !important;
  border-color: var(--primary);
  background: var(--primary);
  height: 40px;
  width: fit-content;
  display: grid;
  place-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  
}

.btn-add-client{

  padding: 8px 24px;
  border-radius: 4px; 
  float: right;
  color: #fff;
  border-color: var(--primary);
  background: var(--primary);
  
  width: 125px;
  height: 40px;
  border: unset;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

.btn-border-skip {
  padding: 8px 24px;
  background: #F7FBFF;
  color: var(--primary);
  border: 1px solid var(--primary) !important;
  box-sizing: border-box;
  border-radius: 4px;
  width: 81px;
  height: 40px;
}

.btn-border{
  padding: 8px 24px;
  background: #F7FBFF;
  /* blue/100 */
  color: var(--primary);
  border: 1px solid var(--primary)!important;
  box-sizing: border-box;
  border-radius: 4px;
  width: fit-content;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
 // display: grid;
  place-content: center;
  cursor: pointer;
}

.text-box{
  height: 40px;
  width: auto;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  transition: 300ms;
}

.text-box::placeholder{
  color: #ADB5BD;
}

.text-box:focus{
  transition: 300ms;
  border: 1px solid #3894F8;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #D7EAFE;
  outline: unset;
}

.selected-site-stats-item {
  flex-direction: column;
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #fff!important;
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
 
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 24px 24px 24px;
  background: #F8F9FA;
 // height: calc(100vh - 220px);
 // height: calc(100vh);

  overflow: auto!important;
}







@media not all and (min-resolution:.001dpcm) { 
  
  .safari10 { 
    .mat-horizontal-content-container {
      overflow: hidden;
      padding: 0 24px 24px 24px;
      background: #F8F9FA;
      height: calc(100vh - 220px)!important;
      height: -webkit-calc(100vh - 220px)!important;
      overflow: auto!important;
    }
  }
}


// mat-card{
//   padding: 32px!important;
// }

.mat-menu-panel{
  position: absolute!important;
  // left : -184px!important;
  top : 0px!important;
}

.profile-container{
  position: fixed !important;
  right : 4px !important;
  top:58px !important;
  max-height: 95% !important;
  height: fit-content !important;
}

a{
  color: var(--primary) !important;
}

.group-list-item {
  .mat-expansion-panel-header{
    padding: unset;
    // padding-bottom: 16px;
  }
  .mat-expansion-panel-body{
    padding:unset !important;
  }
  .mat-expansion-panel{
    padding: 32px;
    box-sizing: border-box;
  }
}

@media only screen 
and (min-device-width: 1920) and (max-device-width:1080){

  .mat-menu-panel{
    position: absolute!important;
    left : -180px!important;
    top : 0px!important;
  }

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {
    mat-card{
      padding: 16px!important;
    }


}



.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.modal-alert{
  max-width: 50%!important;
  min-width: 400px!important;
  .mat-dialog-container{
      padding:0px;


      .alert-title{
        padding: 24px;
        margin:0px;
      }
      .mat-dialog-content{
          padding: 0px 24px;
          margin: 0px;
          font-size: 16px;
      }
      .mat-dialog-actions {
        padding: 0px 24px;
        margin-bottom: 0px;
      }
  }
}

.error-block {
  display: inline-block;
  color: red;
}


mat-toolbar{
  box-shadow: 0px 0px 4px rgba(33, 37, 41, 0.15) !important;
  z-index: 1;
}

@media (-webkit-min-device-pixel-ratio: 1){
body{
  zoom:0.85;
}
}
.main-container.usergroups{
  mat-toolbar{
    position: relative!important;
      float: left!important;
      z-index: 9!important;
      box-shadow: 0px 0px 4px rgba(33, 37, 41, 0.15);
  }
}
.usergroups-container .applications-select,.applications-select.draft-usergroup-select{
  width: 375px;
  border-color:  #ADB5BD;
  outline: none;
  border: none;
  min-height: 40px;
  .mat-form-field{
    border-width: 0px!important;
    border-radius: 4px;
  }
  .mat-select-trigger{
    min-height:40px;
  }
  .mat-form-field-wrapper{
   
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thik,.mat-form-field-appearance-outline .mat-form-field-outline{
    display: none;
  }
 
  .mat-form-field-infix{
      padding:0px;
      margin:0px;
      border-top: none;
      
  }
  .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ADB5BD!important;
    border-radius: 4px;
  }
}
.applications-select.draft-usergroup-select{
width:100%!important;
}

.groups-container{
  .new-group-container{
    .mat-expansion-indicator{
      display: none;
    }
  }
}
.group-item-header{
  .mat-expansion-indicator{
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}
.mat-expansion-indicator::after{
  padding: 4px;
  margin: 14px;
  margin-top: 12px;
}
}
.chkDashboardAccess{
  margin:4px 0px;
  height: 20px;
  width:20px;
  .mat-checkbox-inner-container{
      margin-right:16px!important;
      height: 20px;
      width:20px;
      .mat-checkbox-frame{
          border-radius: 3px;
          height: 20px;
          width:20px;
      }
  }
  .mat-checkbox-label{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #343A40;
flex: none;
order: 1;
flex-grow: 0;
}
}

.no-top-margin{
  margin-top: unset !important;
}

.mat-snack-bar-container{
  background: white !important;
  color: var(--primary) !important;
}

 .mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle!important;
  text-align: left!important;
  padding: 8px!important;
}